.Joke {
  margin-bottom: 0.75em;
  padding: 0.2em;
}

.Joke-locked {
  background-color: #f0f0f0;
  border: 2px solid green;
}

.Joke-votearea {
  display: inline-block;
  vertical-align: top;
}

.Joke-votearea > * {
  margin-right: 1em;
}

.Joke-text {
  margin-left: 1em;
  display: inline-block;
  width: 500px;
}
